<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="movie-container">
    <mat-card *ngFor="let movie of movies" class="custom-card">
      <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title">
          <span class="title">{{ movie.Title }}</span>
        </mat-card-title>
        <mat-card-subtitle>Year: {{ movie.Release_Year }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content [style.padding-bottom]="'1.5rem'" class='custom-card-content'>
      <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" /></mat-card-content>
      <mat-card-actions class="actions-box">
        <button
        class="button-card"
          mat-button
          color="accent"
          (click)="getGenre(movie.Genre.Name, movie.Genre.Description)"
        >
          Genre
        </button>
        <button
        class="button-card"
          mat-button
          color="accent"
          (click)="
            getDirector(
              movie.Director.Name,
              movie.Director.Bio,
              movie.Director.Birth
            )
          "
        >
          Director
        </button>
        <button
        class="button-card"
          mat-button
          color="accent"
          (click)="getDescription(movie.Description)"
        >
          Description
        </button>
        <button
        class="button-card"
          matTooltip="Favorite movie"
          matTooltipPosition="above"
          mat-icon-button
          aria-label="Adds movie to favorites"
          (click)="editFavoriteMovies(movie._id)"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
