<div class='navbar'>
  <div class='nav-container'>
    <div class="custom-title" mat-button class='app-title' routerLink='/movies' color='accent'>
      myFlix
    </div>
    <div class='nav-links'>
      <button class="button-card" mat-button routerLink='/movies' color='accent'>
        Movies
      </button>
      <button class="button-card"  mat-button routerLink='/profile' color='accent'>
        Profile
      </button>
      <button class="button-card"  mat-button (click)='signOut()' color='accent'>
        Sign Out
      </button>
    </div>
  </div>
</div>
